@charset "utf-8";

/* common */
html{
  font-size: 62.5%;
}
*, *::before, *::after{
  box-sizing: border-box;
} 
body{
  background: #1e1f21;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Montserrat', 'Hiragino Kaku Gothic Pro6N', Meiryo, sans-serif;
}
a{
  text-decoration: none;
  color: #fff;
}
.headingOne{
  font-size: 4rem;
}
.headingTwo{
  font-size: 3rem;
  letter-spacing: 1rem;
}
.headingThree{
  font-size: 2rem;
  letter-spacing: 0.5rem;
}
.button{
  display: block;
  position: relative;
  width: 250px;
  padding: 10px;
  margin: 60px auto 30px;
  background: #fb9e12;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 0 #bb7103;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
  cursor: pointer;
}
.button:hover{
  background: #fdaa2e;
  box-shadow: 0 3px 0 #be842e;
}
.button:active{
  top: 3px;
  box-shadow: none;
}

/* header */
.header{
  padding: 120px 17.5px 50px;
  position: relative;
}
.menuIcon{
  position: absolute;
  top: 17.5px;
  left: 17.5px;
}
.iconImg{
  width: 80%;
}
.subTitle{
  letter-spacing: 0.5rem;  
}
.subTitle::before{
  content: '';
  display: block;
  width: 250px;
  height: 2px;
  border: #fff solid 1px;
  margin: 0 auto 15px;
}
.subTitle::after{
  content: '';
  display: block;
  width: 250px;
  height: 2px;
  border: #fff solid 1px;
  margin: 15px auto 0;
}

/* about me */
.aboutMe{
  padding: 60px 17.5px 30px;
  position: relative;
  background: #b1b1b1;
}
.aboutMe::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  background:
    linear-gradient(to top left, rgba(30,31,33,0) 50%, #1e1f21 50.5%) no-repeat top left/100% 100%;
}
.aboutMeImg{
  width: 250px;
  height: 250px;
  margin: 60px auto 30px;
  text-indent: -9999px;
  border-radius: 50%;
  background-image: 
    url(../image/about_me01.png), url(../image/about_me02.png), url(../image/about_me03.png);
  background-position: top center, center center, center center;
  background-size: cover,cover,cover;
}
.aboutMeDescription{
  padding: 0;
}
.aboutMeText{
  list-style: none;
  font-size: 1.6rem;
  letter-spacing: 0.12rem;
  line-height: 2.0;
}

/* works */
.works{
  padding: 60px 0px 30px;
  position: relative;
  background: #1e1f21;
}
.works::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  background:
    linear-gradient(to top left, rgba(177,177,177,0) 50%, #b1b1b1 50.5%) no-repeat top left/100% 100%;
}
.container{
 position: relative;
}
.worksImg{
  display: block;
  width: 80%;
  margin: 0 auto;
}
.leftMark,.rightMark{
  display: block;
  position: absolute;
  width: 25px;
  top: 45%;
}
.leftMark{
  left: 0;
}
.rightMark{
  right: 0;
}
.paragraph{
  letter-spacing: 0.5rem;
}
.worksDescription{
  padding: 0;
  margin-bottom: 30px;
}
.worksText{
  list-style: none;
  line-height: 2.0;
  letter-spacing: 0.1rem;
}
.worksText::before{
  content: '・';
  width: 1.6rem;
}

/* skills */
.skills{
  padding: 60px 0px 30px;
  position: relative;
  background: #b1b1b1;
}
.skills::before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  background:
    linear-gradient(to top left, rgba(30,31,33,0) 50%, #1e1f21 50.5%) no-repeat top left/100% 100%;
}
.skillsImg{
  width: 240px;
  height: 240px;
  margin: 60px auto 30px;
  text-indent: -9999px;
  border-radius: 50%;
}
.coding{
  background-image: 
    url(../image/skills01.png);
  background-position: left center;
  background-size: auto;
}
.direction{
  background-image: url(../image/skills02.png);
  background-position: center center;
  background-size: cover;
}
.copywriting{
  background-image: url(../image/skills03.png);
  background-position: bottom center;
  background-size: cover;
}
.skillsText{
  width: 80%;
  margin: 0 auto;
  letter-spacing: 0.1rem;
  line-height: 1.8;
}
/* contact */
.contact{
  padding: 60px 0px 30px;
  position: relative;
  background: #1e1f21;
}
.contact::before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  background: 
    linear-gradient(to top left, rgba(177,177,177,0) 50%, #b1b1b1 50.5%) no-repeat top left/100% 100%;
}
.contactForm{
  width: 80%;
  min-width: 250px;
  margin: 70px auto 35px;
}
.contactForm input[type=text]{
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  outline: none;
  background: #b1b1b1;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}
.contactForm textarea{
  display: block;
  width: 100%;
  height: 120px;
  padding: 15px;
  outline: none;
  background: #b1b1b1;
  border: 1px solid #f1f1f1;
  border-radius: 5px 5px 0 5px;
}

/* footer */
.footer{
  letter-spacing: 0.25rem;
  padding: 20px;
}
/* media-query */
@media screen and (min-width:1024px){
  /* common */
  body{
    font-size: 1.4rem;
  }
  .headingOne{
    font-size: 6rem;
  }
  .headingTwo{
    font-size: 4rem;
  }
  .headingThree{
    font-size: 2.5rem;
  }
  .button{
  width: 300px;
  padding: 20px;
  font-size: 2.5rem;
  transition: letter-spacing 0.3s;
  }
  .button:hover{
    letter-spacing: 1rem;
  }
  .pcLayoutParent{
    width: 80%;
    margin: 0 auto;
  }
  .clearFix::after{
    content: '';
    display: block;
    clear: both;
  }
  .pcLayout{
    float: left;
    width: 33%;
    padding: 10px;
  }

  /* header */
  .subTitle::before, 
  .subTitle::after{
  width: 300px;
  }

  /* works */
  .container{
    width: 80%;
    margin: 0 auto;
  }
}