@charset "utf-8";
/* works history common */
.bold{
  font-weight: bold;
}
/* works detail bx-slider
.bx-wrapper .bx-prev {
  left: 0;
}
.bx-wrapper .bx-next {
  right: 0;
}*/
/* works history header */
.header{
  padding: 62px 17.5px 0;
}
/* works history worksDetail*/
.worksDetail{
  padding: 60px 17.5px 30px;
  position: relative;
  background: #b1b1b1;
}
.worksDetail::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  background:
    linear-gradient(to top left, rgba(30,31,33,0) 50%, #1e1f21 50.5%) no-repeat top left/100% 100%;
}
.worksText::before{
  display: none;
}
.historyContainer{
  width: 100%;
  max-width: 740px;
  margin: 0 auto;
}

@media screen and (min-width:1024px){
  
}