@charset "utf-8";
/* works history common */
.bold{
  font-weight: bold;
}
/* works history header */
.header{
  padding: 62px 17.5px 0;
}
/* works history worksDetail*/
.worksDetail{
  padding: 60px 17.5px 30px;
  position: relative;
  background: #b1b1b1;
}
.worksDetail::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  background:
    linear-gradient(to top left, rgba(30,31,33,0) 50%, #1e1f21 50.5%) no-repeat top left/100% 100%;
}
.worksText::before{
  display: none;
}
.comment{
  width: 80%;
  margin: 0 auto;
  letter-spacing: 0.1rem;
  line-height: 1.8;
}
/* works bx-slider */
.historyContainer{
  width: 100%;
  margin: 0 auto;
  position: relative;
}
#next-btn,
#prev-btn{
  position: absolute;
  top: 40%;
}
#next-btn{
  right: 0;
}
#prev-btn{
  left: 0;
}
.worksHistoryInner{
  width: 100%;
}
.worksHistoryInner img{
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
}

@media screen and (min-width:1024px){
  /* worksHistory */
  .worksText{
    text-align: center;
  }
  .paragraph{
    width: 100%;
  }
  .historyLayoutParent{
    width: 100%;
    max-width:1024px; 
    margin: 0 auto;
  }
  .clearFix::after{
    content: '';
    display: block;
    clear: both;
  }
  .historyLayout1{
    float: left;
    width: 50%;
  }
  .historyLayout2{
    float: left;
    width: 33%;
    padding: 10px;
  }
  .historyLayout2:first-child{
    float: left;
    width: 30%;
  }
  .historyLayout2:last-child{
    float: left;
    width: 37%;
  }
}